<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS <span>ME</span></h4>
    <hr>
  </div>
</section>
  <div class="container">
    <picture>
    <img src="../images/dessinme.png" alt="me" />
    </picture>
    <article class="image-text">
      <h6>This is me. It looks sad, but I am not.<br>
      It was drawn by someone I don't know in Metro<br>
      during the pandemic three years ago.<br>
      My name is Romi.<br>
      I was born on a southern Japanese island.<br>
      I've been lived in Tokyo, Bora Bora in French Polynesia, <br>
      Marseille and now I am learning Javascript as a student in Paris.<br>
      </h6>
    </article>
  </div>