<section>
  <div class="container">
    <hr>
    <h4 class="title">ALL ABOUT <span>AKI KURODA</span></h4>
    <hr>
  </div>
</section>

<section id="about">
  <div class="container">
    <picture>
      <img src="images/Aki_Kuroda_Atelier_3_Photo_Yoyo_Maeght_2019_480x480.webp" alt="about1" />
    </picture>
    <article class="image-text-about">
      <h4>Born in Kyoto<br>
      Spend most of his life in Paris</h4>
      <h2>Contemporary Artist</h2>
      <p>Aki Kuroda, real name Akihiko Kuroda, born October 4, 1944 in Kyōto is a Japanese painter, contemporary artist, who lives and works in Paris. Aki Kuroda's father was a professor of economics at Dōshisha University. An only child, Aki Kuroda was raised in a family open to European culture. He began to paint at a very young age.</p>

      <p>In 1994, Aki Kuroda participated in an exhibition at the São Paulo Biennial. He created murals for the Pôle universitaire Léonard-de-Vinci, the Maison de la culture du Japon in Paris, the café of the Musée d'Art moderne et contemporain de Strasbourg, for the city of Paris in 2000 and for the École nationale des douanes de Tourcoing (work registered in the supplementary inventory of historical monuments in 2009). He designed the sets for the ballet Parade for Angelin Preljocaj at the Paris Opera and the Avignon Festival in 1993. He has collaborated with architects such as Tadao Ando and Richard Rogers to create relief paintings in Japan.</p>
      <p>The matrix of Aki Kuroda's paintings is made of numbers and spaces: 1944, the year of his birth; - 270, the temperature of the deep cosmos; 300,000, the speed of light in km/s in the void. Table of numerical law to transcribe the chaos of the origins. While space is organized in multiple forms, spheres and puzzles and labyrinths, fragmented fields between third and fourth dimension Homonymity help page. Gradually, flowers, women and myths settle in.</p>
    </article>
  </div>
</section>