<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS MY FIRST <span>JAVASCRIPT</span> WEBSITE! PLEASE LOOK AT this!</h4>
    <hr>
    <picture>
    <img src="../images/IMG_6175.jpeg" alt="painting" />
    </picture>
    <article class="image-text">
      <h4>Welcome<br>to<br><span>Romi</span>'s<br>Website</h4>
    </article>
  </div>
</section>