<section>
  <div class="container">
      <hr>
      <h4 class="title">THIS IS THE WORLD OF A JAPANESE ARTIST <span>AKI KURODA</span> WEBSITE!</h4>
      <hr>
  </div>
</section>
  <section id="home">
    <picture class="home">
    <img src="../images/aki-kuroda-.jpg" alt="painting" />
    </picture>
    <article class="image-text-home">
      <h4>Welcome to<br>Official site of<br><span class="yellow">A</span><span class="white">KI</span><br><span class="white">KUROD</span><span class="yellow">A</span></h4>
    </article>
  </section>