<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS <span>PHOTO GALLERY</span> OF AKI KURODA</h4>
    <hr>
  </div>
</section>
  <section class="products">
    <div class="container">
      <div class="product-box">
        <div class="box-child">
          <img src="/images/works2.jpg"
              alt="works1" />
          <a href="#">
          <h5 class="nouveaute">Éléphant</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works3.jpg"
              alt="works2" />
          <a href="#">
          <h5 class="nouveaute">Sans titre 1988</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works4.jpg"
              alt="works3" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works6.jpg"
              alt="works4" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="container">
      <div class="product-box">
        <div class="box-child">
          <img src="/images/works8.jpg"
              alt="works1" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works9.jpg"
              alt="works2" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works13.jpg"
              alt="works3" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works12.jpg"
              alt="works4" />
          <a href="#">
          <h5 class="nouveaute">Midnight spaghetti</h5>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="container">
      <div class="product-box">
        <div class="box-child">
          <img src="/images/works14.jpg"
              alt="works1" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works15.jpg"
              alt="works2" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works1.jpg"
            alt="works3" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
        <div class="box-child">
          <img src="/images/works3.jpg"
              alt="works4" />
          <a href="#">
          <h5 class="nouveaute">Sans titre</h5>
          </a>
        </div>
      </div>
    </div>
  </section>