<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS ALL MY <span>FAVORITE</span> THINGS</h4>
    <hr>
  </div>
</section>
    <section id="myphoto1">
      <div class="service-box-container">
      <div class="service-box">
        <img src="../images/motu1.jpg" alt="kintsugi" />
      </div>
      <div class="service-box">
        <img src="../images/sunset.jpg" alt="pieton" />
      </div>
      <div class="service-box">
        <img src="../images/sunset2.jpg" alt="train" />
      </div>
      <div class="service-box">
        <img src="../images/atelier14.jpg" alt="house" />
      </div>
    </div>
    <section id="myphoto2">
      <div class="service-box-container">
      <div class="service-box">
        <img src="../images/FBE1224E-42DD-4579-9121-B1C90278D7B9_1_105_c.jpeg" alt="kaidan" />
      </div>
      <div class="service-box">
        <img src="../images/EC56430A-7BCA-4CD1-A4F2-F1A993C6A188_1_105_c.jpeg" alt="kirin" />
      </div>
      <div class="service-box">
        <img src="../images/DAF2A284-1EFE-4660-92D8-8BF350B06A4A_1_105_c.jpeg" alt="tile" />
      </div>
      <div class="service-box">
        <img src="../images/51233915-3DE7-4703-A923-AF580CE2ADC6_1_105_c.jpeg" alt="chiko" />
      </div>
    </div>
    <section id="myworks3">
      <div class="service-box-container">
      <div class="service-box">
        <img src="../images/0F271E51-549B-4D37-9E19-12C2BAA97E37_1_105_c.jpeg" alt="tile2" />
      </div>
      <div class="service-box">
        <img src="../images/503F99DD-41D9-4416-B985-9BDB4DD1CE01_1_105_c.jpeg" alt="tile3" />
      </div>
      <div class="service-box">
        <img src="../images/D82F3E75-87CE-4002-8587-B0B6986C69B5_1_105_c.jpeg" alt="wall" />
      </div>
      <div class="service-box">
        <img src="../images/C64B8E47-E630-4AB0-8F6E-AF1030FF0B8E_1_105_c.jpeg" alt="leaf" />
      </div>
    </div>
    </section>
  </div>