<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS MY <span>WORKS</span> WORLD</h4>
    <hr>
  </div>
</section>
    <section id="myworks">
      <div class="service-box-container">
      <div class="service-box">
        <img src="../images/IMG_5890_2.jpg" alt="kintsugi" />
        <h3>KINTSUGI</h3>
        <p>Kintsugi means the Japanese art of repairing broken pottery by mending the areas of breakage with lacquer dusted or mixed with powdered gold. I love potteries. That's why I started Kintsugi works as my hobby. It takes two months to repair one plate, so patience is required.</p>
      </div>
      <div class="service-box">
        <img src="../images/pieton.png" alt="pieton" />
        <h3>PIETON</h3>
        <p>I taught myself to be an illustrator and published a guidebook with my friends. The colors, design, and photographs are so refined that it is hard to believe it is a guidebook, but rather a design book. A total of five volumes were produced for each cartier. It is currently available in Japan at several bookstores and on Amazon.
        </p>
      </div>
      <div class="service-box">
        <img src="../images/seetheworldbytrain.png" alt="train" />
        <h3>SEE THE WORLD BY TRAIN</h3>
        <p>I worked for a TV company in Japan, producing TV programs. It's a documentary that takes you on a train around the world to show you the culture, history, and life in those countries.It has been a long-running program in Japan for more than 35 years.</p>
        <a href="https://en.wikipedia.org/wiki/See_the_World_by_Train">wikipedia</a>
      <a href="https://www.tv-asahi.co.jp/train/">TV Asahi</a>
      </div>
      <div class="service-box">
        <img src="../images/houseboat2.jpg" alt="houseboat" />
        <h3>BORA BORA DISCOVERY</h3>
        <p>This is my favorite job in my life. I was a tourist guide on a small boat in Bora Bora. I love the sun, the sea, white sandy beaches, and nature, so I hope to live like that again someday.</p>
      </div>
    </div>
    </section>
  </div>