<section>
  <div class="container">
    <hr>
    <h4 class="title">THIS IS AKI's <span>WORKS</span> WORLD</h4>
    <hr>
  </div>
</section>

<div class="works-contents">
  <section id="myworks">
    <div class="service-box-container">
      <div class="service-box">
        <picture>
          <img src="/images/works1.jpg" alt="kintsugi" />
        </picture>
        <h3>Exposition Sideral Blue</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, amet cumque praesentium officiis sapiente cum expedita magnam hic eum fuga enim consequatur eaque vero, a explicabo corporis? Repudiandae, praesentium eveniet.</p>
      </div>
      <div class="service-box">
        <img src="/images/works5.jpg" alt="pieton" />
        <h3>Exposition Sideral Blue</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatem nam accusamus ea expedita sequi, magnam dolor, eaque quibusdam quia illum autem aliquam dignissimos! Modi, quasi possimus. Sequi, velit nisi.
        </p>
      </div>
      <div class="service-box">
        <img src="/images/Capture-d’écran-2015-04-24-à-15.42.10.jpg" alt="train" />
        <h3>Exposition Sideral Blue</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis reprehenderit pariatur omnis delectus repudiandae voluptates minus quae vero, laboriosam magnam, possimus at corrupti distinctio blanditiis quam harum sit quos. Minus?</p>
      </div>
      <div class="service-box">
        <img src="/images/works10.jpg" alt="houseboat" />
        <h3>Gallerie Louis Gendre</h3>
        <p>Connu pour ses silhouettes longilignes sur des toiles monochromes bleues, il a développé sept espaces picturaux très différents appelés îles, repoussant sans cesse les frontières entre orient et occident, cherchant des passages entre l’homme, l’univers, la ville, la nature, l’espace et le temps.</p>
      </div>
    </div>
  </section>
  <section id="exposition">
      <p>EXPOSITIONS</p>
      <h3>Expositions personnelles (sélection)</h3>
      <picture>
      <img src="/images/works7.png" alt="works7" width="600" height="200"/>
      </picture>
    <div class="exposition-container">
    <div class="container">
      <p>2021</p>
      <p>Galerie Louis Gendre, Chamalières. , </p>
      <p>2020</p>
      <p>Richard Taitinger Gallery, New York, USA « Happy Boy in Manhattan »</p>
      <p>2019</p>
      <p>Salle des Domicains, Saint-Emilion, France « Pollen d’étoiles »
      La Manufacture Laleu, La Rochelle, France « Cosmogarden Ophélia »
      Institut Bruno Lussato, Bruxelles, Belgique
      Musée des Beaux Arts de Chartres, Chartres
      Musée Lapidaire, Avignon « To be or not to be »</p>
      <p>2018</p>
      <p>
      Aquarium de Paris – Jardin de Trocadéro, Paris « Aquacity »
      Hangar Art Center, Bruxelles, Belgique « Aki Kuroda »
      Galerie Depardieu, Nice
      Centre d’Art Contemporain Bouvet-Ladubay, Saumur
      </p>
        
      <p>2017</p>
      <p>
      Espai K, Sant Feliu de Guixols, Espagne « Aki Kuroda, Near the sea »
      </p>
      <p>2016</p>
      <p>
      Galerie Atelier 28, Lyon
      Galerie Louis Gendre, Chamalières, « Hamlet » 
      Galerie Perpitch & Bringand, Paris « Face à Hamlet »
      Mori Yu Gallery, Kyoto, Japon
      Hors Pistes Tokyo 2016, Tokyo, Japon « Darkness in Paradise », Vidéo d’Aki Kuroda & Justine Emard
      Capusule, Tokyo, Japon « Aki Kuroda, Atelier – Conti/NuiT/é »
      </p>
      <p>2015</p>
      <p>
      Galerie Nikki Diana Marquardt « Cosmobang 2015 »
      Centre d’Art des Sablons, Neuilly sur Seine
      Galerie Louis Gendre. Cosmogarden – Elephant City,  
      </p>
      <p>2014</p>
      <p>
      Galerie Alexandre Lazarew, Paris « Cosmogarden / Midnight Sapaghetti »
      Biwako Biennale 2014, Japon
      La Nuit Blanche Kyoto 2014, Japon
      </p>
      <p>2013</p>
      <p>« Cosmogarden », KH Gallery, Tokyo, Japon « Cosmogarden »</p>
      <p>2012</p>
      <p>Mori Yu Gallery, Tokyo, Japon « Cosmogarden»</p>
      <p>2011</p>
      <p>Roppongi Hills A/D Gallery, Tokyo, Japon « Cosmogarden – Lines & Tangles»
      Mori Yu Gallery, Tokyo, Japon « The noise is driving me crazy»
      Mori Yu Gallery, Kyoto, Japon « Midnight Spaghetti»</p>
      <p>2010</p>
      <p>Armory Show, New York, USA</p>
      <p>2009</p>
      <p>Mori Yu Gallery, Kyoto, Japon « Rolling »
      Maison Européenne de la Photographie, Paris « Cosmogarden New York City »</p>
      <p>2008</p>
      <p>Mori Yu Gallery, Tokyo, Japon
      Doland Museum, Shanghai, Chine</p>
      <p>2007</p>
      <p>Rabih Hage Gallery, Londres, Grande Bretagne
      Beijin Imperial Museum, Chine
      Mori Yu Gallery, Kyoto, Japon</p>
      <p>2006</p>
      <p>Mori Yu Gallery, Kyoto, Japon</p>
      <p>2005</p>
      <p>Mori Yu Gallery, Kyoto, Japon</p>
      <p>2004</p>
      <p>Espace culturel des Arts, Trèbes</p>
      <p>2002</p>
      <p>Mori Yu Gallery, Kyoto, Japon</p>
      
    </div>
    <div class="container">
      <p>2001</p>
      <p>Galerie Richter, Rottach-Egern, Allemagne
      Galerie Schoeneck, Riehen, Suisse
      Le Carré Saint-Vincent, Orléans
      Mori Yu Gallery, Kyoto, Japon</p>
      <p>1998</p>
      <p>Casa França-Brasil, Rio de Janeiro, Brésil
      Otemae Art Center, Kobe, Japon</p>
      <p>1996</p>
      <p>Municipal Gallery of Modern Art, Dublin, Irlande
      Imura Art Gallery, Kyoto, Japon
      Cité de la Musique, Paris</p>
      <p>1995</p>
      <p>Galerie Kaj Forsblom, Zurich, Suisse
      Galerie Kaj Forsblom, Helsinki, Finlande
      Galerie Wassermann, Munich, Allemagne
      Galerie Richter, Rottach-Egern, Allemagne 1994
      Musée National d’Art Moderne, Osaka, Japon
      Mizuma Art Gallery, Tokyo, Japon
      Institut Français, Zagreb, Croatie
      Institut Français, Sofia, Bulgarie
      Musée des Beaux Arts, Clermont-Ferrand
      Biennale de Sao Paulo, Brésil</p>
      <p>1993</p>
      <p>Imura Gallery, Kyoto, Japon
      Galerie Richter, Düsseldorf, Allemagne
      Musée National d’Art Moderne, Tokyo, Japon</p>
      <p>1992</p>
      <p>National Gallery, Galerie Médium, École des Beaux Arts de Bratislava,Tchécoslovaquie
      Musée Château, Tarascon</p>
      <p>1991</p>
      <p>Spark Gallery, Tokyo, Japon
      Galerie Schoeneck, Riehen, Suisse
      Galerie Saxe, Los Angeles, USA</p>
      <p>1990</p>
      <p>Galerie Mayor Rowan, Londres, Grande-Bretagne
      Galerie Christine Debras- Yves Bical, Bruxelles, Belgique
      Galerie Egelund, Copenhague, Danemark
      Galerie Gutsch, Berlin, Allemagne</p>
      <p>1989</p>
      <p>Galerie La Main, Bruxelles, Belgique
      Théâtre Varia, Bruxelles, Belgique
      Centre d’art contemporain « Passage », Troyes
      Saint Chapelle de l’Hôtel Dieu, Troyes
      Musée Arsenal, Metz</p>
      <p>1988</p>
      <p>Galerie Nishimura, Tokyo, Japon
      Galerie Beaumont, Luxembourg
      Galerie Aeblegaarden, Holte, Danemark</p>
      <p>1987</p>
      <p>State Gallery, Sarrebruck, Allemagne
      Galerie La Main, Bruxelles, Belgique</p>
      <p>1986</p>
      <p>Galerie Takagi, Nagoya, Japon</p>
      <p>1985</p>
      <p>Galerie Beaumont, Luxembourg</p>
      <p>1984</p>
      <p>Galerie Georg Nothelfer, Berlin, Allemagne</p>
      <p>1983</p>
      <p>Galerie Takagi, Nagoya, Japon N1 Studio, Nagoya, Japon</p>
      <p>1978</p>
      <p>Kunsthalle, Bremerhaven, Allemagne Vrije Universiteit, Bruxelles, Belgique</p>

      <p>Collections</p>
      <p>Centre National des Arts Plastiques, Paris, France
      Fondation du Japon, Paris, France
      Fondation Maeght, Saint-Paul, France
      Musée des Beaux-Arts, Clermont-Ferrand, France
      Hyogo Museum of Modern Art, Kobe, Japon
      National Museum of Art, Osaka, Japon
      National Museum of Modern Art, Tokyo, Japon
      Fondation Peter Stuyvesant, Amsterdam, Pays-bas
      Galerie Nationale Slovaque, Bratislava, Slovaquie
      </p>
    </div>
    </div>
  </section>
</div>