@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Raleway:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,500,700');
/* common */
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "robotoregular","Helvetica Neue","Helvetica","Arial",sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 2rem;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
  cursor: pointer;
  padding-bottom: 5px;
}
a:hover {
  opacity: .5;
  border-bottom: 2px solid #060606;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
h1 {
  font-size: 5em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
  font-weight: 500;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .9em;

}
h6 {
  font-size: 0.7em;
}
p {
  margin: 0;
  font-weight: normal;
}

.wrap {
  background-image: url("/images/kurodalogotate.png");
  background-repeat: no-repeat;
  background-size: 23%;
}

/* nav */
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(15, 15, 15);
  align-items: center;
  gap: 3rem;
  margin-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* footer */
footer {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color:rgb(12, 12, 12);
}

/* banner */
hr {
  margin: 10px 0px;
  border: .5px solid black;
}
.title {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0;
  font-family: "Cormorant+ Garamond";
  letter-spacing: .2rem;
}
.title span {
  color:#E7361E;
}


/* home */
#home {
  display: flex;
  justify-content: center;
}
.home {
  margin: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 550px;
  position: relative;
  padding: 0;
  overflow: hidden;
}
.home img {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
  position: relative;
}
.image-text-home {
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translateY(-50%);
  border: none;
}
.image-text-home h4 {
  background: #E7361E;
  text-align: left;
  font-family:"arial";
  color: rgb(6, 6, 6);
  font-size: 3.5rem;
  font-weight: 600;
  padding: 50px 75px 50px 75px;
}
.image-text-home .white {
  color:#fff;
}
.image-text-home .yellow {
  color: gold;
}

/* about */
#about {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#about .container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 70%;
}
#about picture {
  margin-top: 1rem;
  width: 50%;
  position: relative;
  padding: 0;
  overflow: hidden;
}
#about img {
  width: 100%;
  display: block;
}
.image-text-about {
  width: 50%;
}
.image-text-about h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color:#E7361E;
  font-family: "Cormorant+ Garamond";
}
.image-text-about h2 {
  margin-bottom: 2rem;
  font-family: "Cormorant+ Garamond";
}
.image-text-about p{
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
}


/* works */
.works-contents {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 70%;
  margin: 1.5rem 15%;
}
#myworks img {
  width: 200px;
  height: 200px;
}
#myworks .service-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4rem;
}
#myworks .service-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
#myworks .service-box h3 {
  padding-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color:#E7361E;
}
#myworks .service-box p {
  text-align: left;
  line-height: 26px;
  letter-spacing: -0.3px;
  padding-top: 10px;
}
#myworks p, #exposition p {
  font-family: "Quicksand";
  color:#666666;
}
#exposition p {
  font-size: .8rem;
}
#exposition {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
#exposition img {
  margin: 1rem 0;
}
.exposition-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 70%;
}


/* photos */
.products .container {
  width: 70%;
  margin: 1.5rem 15%;
}
.product-box {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: auto;
  text-align: left;
}
.product-box a h5 {
  font-size: .8em;
  font-family: "Quicksand";
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.box-child {
  margin-right: 3rem;
}
.box-child img {
  width: 250px;
  height: 200px;
}
.products {
  margin-bottom: 4rem;
}